.header {
  margin-left: -4em;
  margin-top: 1px;
  color: $secondary;
  //background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
