.page-home {
  background-image: url("../images/undraw_doctors_hwty.svg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 70%;
    background-position: 100% -50px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% -70px;
  }
}

.svg {
  @include media-breakpoint-up(xs) {
    width: 60%;
    height: 60%;
  }
  @include media-breakpoint-up(sm) {
    width: 60%;
    height: 60%;
  }
  @include media-breakpoint-up(md) {
    width: 90%;
    height: 90%;
  }
  @include media-breakpoint-up(lg) {
    width: 70%;
    height: 70%;
  }
}

.chooseCard {
  @include media-breakpoint-up(md) {
    margin-bottom: 8rem;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 5rem;
  }
}

.map {
  @include media-breakpoint-up(md) {
    margin-bottom: 10rem;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 7rem;
  }
}
